body {
    --transparentBlack: rgba(0, 0, 0, 0.36);
    font-family: 'Helvetica', 'Roboto', 'Source Sans Pro', sans-serif;
    margin: 25px 50px;
    /*background: url("../resources/images/mountainsBackground.jpg") no-repeat center center fixed;*/
    /*background-size: cover;*/
    background: -webkit-gradient(linear, left top, right bottom, from(#56CCF2), to(#2F80ED)) fixed;
    color: white;
}

header {
    background-color: var(--transparentBlack);
    text-align: center;
    padding: 25px;
}

nav {
    background-color: var(--transparentBlack);
    color: white;
    font-size: 16px;
    margin: 10px 0px;
    padding: 10px 20px;
}

nav a {
    color: white;
    margin-right: 30px;
    text-decoration: none;
}

#mainSection {
    background-color: var(--transparentBlack);
    padding: 10px 10px;
}

#mainSection a {
    color: goldenrod;
}