* {
    font-family: 'Helvetica Neue', 'Roboto', 'Source Sans Pro', sans-serif;
}

body {
    --transparentBlack: rgba(0, 0, 0, 0.31);
    --transparentWhite: rgba(255, 255, 255, 0.51);
    margin: 25px 50px;
    background: -webkit-linear-gradient(left, #4568DC, #B06AB3) fixed;
    color: white;
}

header {
    background-color: var(--transparentBlack);
    text-align: center;
    padding: 25px;
}

.title {
    font-family: 'Lato', sans-serif;;
    font-weight: bold;
    font-size: 42px;
    color: rgb(255, 255, 255);
}

nav {
    background-color: var(--transparentBlack);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
}

nav a {
    color: white;
    margin-right: 30px;
    text-decoration: none;
}

#taskList {
    margin: 0;
    padding: 0;
}

#taskList li {
    cursor: pointer;
    position: relative;
    margin: 5px 5px;
    padding: 12px;
    list-style-type: none;
    background: var(--transparentWhite);
    font-size: 18px;
    transition: 1s;
    border-radius: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#taskList li.checked {
    background: rgba(255, 255, 255, 0.21);
    color: rgba(255, 255, 255, 0.5);
    text-decoration: line-through;
}

#taskList li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    color: lightgray;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    color: white;
}

.row {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 2.5px;
    padding: 2.5px;
    text-align: center;
}

.row > h2 {
    text-align: center;
    padding: 5px 0px;
    font-size: 48px;
}

.customButton {
    font-weight: bold;
    border-radius: 10px;
    user-select: none;
    padding: 10px;
    background: var(--transparentWhite);
}

.customButton:disabled {
    background: rgba(16, 209, 0, 0.5);
}

.customButton:hover {
    cursor: pointer;
    text-decoration: underline;
}

.customButton:active {
    filter: brightness(90%);
}

#startTimerButton {
    background: rgba(16, 209, 0, 0.71);
}

#stopTimerButton {
    background: rgba(255, 94, 115, 0.72);
}


/*CSS for the utilities, mid section of the web app.*/

.middleSection {
    background: var(--transparentBlack);
    width: 100%;
}

.row {
    display: flex;
}

.column {
    margin: 10px;
    padding: 10px;
    width: 50%;
}

#timerSpan {
    display: block;
    text-align: center;
}

#timerSpan label {
    width: 100%;
    font-size: 100px;
    font-weight: bold;
    transition: 1s;
}

#timerLabel.enabled {
    color: white;
}

#timerLabel.disabled {
    color: var(--transparentWhite);
}

input {
    padding: 10px;
    width: 100%;
    max-width: 50%;
    background-color: var(--transparentBlack);
    color: white;
    border: solid var(--transparentWhite) 1px;
    border-radius: 10px;
}

select {
    width: 100%;
}

#developerNote {
    font-size: 12px;
    text-align: justify;
    color: lightgray;
}

footer {
    background-color: var(--transparentBlack);
    color: white;
    font-size: 16px;
    text-align: left;
    padding: 10px 20px 20px 20px;
}

footer a {
    color: #e3e3e3;
    padding: 0px 5px;
}

